<!DOCTYPE html>
<html>
  <head>
    <!-- 页面和视窗比例1：1;禁止缩放-->
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, minimum-scale=1.0,minimal-ui, maximum-scale=1.0">
    <!--从桌面icon启动IOS Safari是否进入全屏状态（APP模式）-->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <!--从桌面icon启动IOS 系统title栏的样式-->
    <meta content="black" name="apple-mobile-web-app-status-bar-style">
    <!--禁止识别为电话或者邮箱-->
    <meta name="format-detection" content="telephone=no,email=no"/>
    <meta name="screen-orientation" content="portrait">
    <!--网页优先采用Chrome渲染-->
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="baidu-site-verification" content="XEESrz1S4I" />
    <!-- <link href="/favicon.ico" rel="stylesheet" type="text/css" />  -->
    <title>404</title>
  </head>
  <body>
      htmlerror 404页面测试
  </body>
</html>
